[Desktop Entry]
Name=UaiSo SRV
Exec=uaiso-srv
Icon=/usr/share/bigbashview/bcc/apps/icons/logo.svg
StartupNotify=true
Terminal=false
Categories=System;
Type=Application
