[Desktop Entry]
Name=UaiSo SRV
Exec=uaiso-srv
Icon=/usr/share/bigbashview/bcc/apps/uaiso-srv/icons/logo-verde.svg
StartupNotify=true
Terminal=false
Categories=System;
Type=Application
